.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .itemLeft {
    width: 100%;
  }
  
  .itemCenter {
      width: 100%;
  }
  
  .itemRight {
    width: 15%;
  }
  
  .navbar {
    background: #97C9EA;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  
  li {
    color: #52400E;
    padding: 15px 0;
  }
  
  body {
    font-size: 24px;
  }